<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>

    <header>
        <img src="/img/queenii.jpg" alt="Medowlark logo" height="50">
    </header>
    {{{body}}}

</body>
</html>
